@{
    ViewData["Title"] = "Home";
}
<h1>Welcome to the EllectionApp!</h1>
<p>For voting, please autorize <a asp-controller="Authorization" asp-action="AuthorizationForm">Autorize</a></p>
<p>For voting, please go to the <a asp-controller="Candidates" asp-action="CandidatesView">Candidates</a></p>